[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/SDL-mirror/SDL
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy
[submodule "libs/inih"]
	path = libs/inih
	url = https://github.com/jtilly/inih.git
