[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/SDL-mirror/SDL
	branch = release-2.0.12
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy
[submodule "libs/inih"]
	path = libs/inih
	url = https://github.com/jtilly/inih.git
[submodule "libs/libSocket"]
	path = libs/libSocket
	url = https://github.com/dermesser/libsocket.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib
